@import "../../../assets/styles/main.scss";

$HEADER-HEIGHT: 56px;
$FOOTER-HEIGHT: 50px;
$NAVIGATION-HEIGHT: 50px;

.passwordResetBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    // vertical-align: middle;
    // justify-content: flex-start;
    width: 100%;
    // height: 100vh;
    // background: pink;
    padding-top: 10px;

    &__statebar {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px;
        justify-content: flex-start;        
        width: 400px;
        height:50px
        // background: rgb(150, 150, 192);
    }

    &__input {
        display: flex;
        flex-direction: column;
        align-items: left;
        padding: 5px;
        justify-content: flex-start;        
        width: 400px;
        // background: rgb(150, 150, 192);
        // height: calc(100% - $HEADER-HEIGHT - $NAVIGATION-HEIGHT - $FOOTER-HEIGHT);
    }
}

.passwordResetBody_modal_backdrop {
    background-color: green;
  }
